* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(to bottom, #1f1f1f, #1f1f1f, #121212, #121212, #121212);
	font-family: 'Montserrat', sans-serif;
}


.main-container {
	margin-left: 245px;
	margin-bottom: 100px;
	overflow-y: auto;
	/* Cho phép cuộn theo chiều dọc */
	scrollbar-width: thin;
	/* Độ rộng của thanh cuộn */
	scrollbar-color: #282828 #1E1E1E;
	/* Màu sắc của thanh cuộn */
}

::-webkit-scrollbar {
	width: 14px;
	/* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	/* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
	background-color: #282828;
	/* Màu của phần đối xứng */
	border-radius: 2px;
	/* Độ cong của phần đối xứng */
}

.topbar {
	display: flex;
	left: 235px;
	right: 0;
	justify-content: space-between;
	background: linear-gradient(to bottom, #232323, #1f1f1f);
	padding: 14px 30px;
	position: fixed;
	top: 0;
	min-height: 46px;
}

.couter-fixed {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	height: 62px;
	z-index: -1;
}

.search-container {
	background: #fff;
	height: 30px;
	border-radius: 30px;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.8s;
	margin-left: 20px;
	/*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
		-4px -4px 6px 0 rgba(116, 125, 136, .2),
		inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
	width: 400px;
}

.search-container .search-input {
	background: transparent;
	border: none;
	outline: none;
	width: 0px;
	font-weight: 500;
	font-size: 16px;
	transition: 0.8s;

}

.search-container .search-btn .fas {
	color: #1db954;
}

@keyframes hoverShake {
	0% {
		transform: skew(0deg, 0deg);
	}

	25% {
		transform: skew(5deg, 5deg);
	}

	75% {
		transform: skew(-5deg, -5deg);
	}

	100% {
		transform: skew(0deg, 0deg);
	}
}

/* .search-container:hover {
	animation: hoverShake 0.15s linear 3;
} */



.topbar .prev-next-buttons button {
	color: #7a7a7a;
	cursor: pointer;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	font-size: 18px;
	border: 0px;
	background-color: #090909;
	margin-right: 10px;
}

.topbar .navbar {
	display: flex;
	align-items: center;
}

.topbar .navbar ul {
	list-style: none;
}

.topbar .navbar ul li {
	display: inline-block;
	margin: 0px 8px;
	width: 70px;
}

.topbar .navbar ul li a {
	color: #b3b3b3;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
	color: #ffffff;
	font-size: 15px;
}

.topbar .navbar ul li.divider {
	color: #ffffff;
	font-size: 26px;
	margin: 0px 20px;
	width: auto;
}

.topbar .navbar .button1 {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	margin-left: 8px;
}

.topbar .navbar .button2 {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	margin-left: 8px;
}

.topbar .navbar .button1 {
	background-color: rgba(0, 0, 0, 0.1);
	color: var(--text-subdued, #6a6a6a);
}

.topbar .navbar .button1:hover {
	color: #f2f2f2;
	transform: scale(1.05);
}

.topbar .navbar .button2:hover,
.topbar .navbar .button2:active,
.topbar .navbar .button2:focus {
	background-color: #f2f2f2;
	transform: scale(1.05);
}

.user-container {
	background-color: #282828;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 30px;
	border: 0px;
	border-radius: 23px;
	cursor: pointer;
	margin-left: 8px;
	align-items: center;
	height: 32px;
	display: flex;
	justify-content: center;
	padding: 2px;
	position: relative;
	gap: 8px;
	font-size: 14px;
}

.user-fame {
	display: block;
}

.user-icon {
	align-items: center;
	background-color: #535353;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
	border-radius: 50%;
}


.user-svg {
	margin-inline-end: 6px;
	height: 16;
	width: 16;
	fill: #ffffff;
	cursor: pointer;
}

#myDiv {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: #282828;
	padding: 10px;
	border-radius: 2px;
	min-width: 200px;
	display: none;
	z-index: 9999;

}

#myDiv p {
	text-align: left;
	align-items: center;
	gap: 8px;
	padding: 12px;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: baseline;
	color: #cacaca;
	z-index: 999;
}


#myDiv.show {
	display: block;
}

.spotify-playlists {
	padding: 20px 40px;
}

.spotify-playlists .description {
	display: block;
}

.spotify-playlists h2 {
	color: #ffffff;
	font-size: 22px;
	margin-bottom: 20px;
	display: inline-block;
}

.spotify-playlists h2:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 2.2px;
}

.spotify-playlists>.description>p {
	display: inline-block;
	float: right;
	/* -webkit-tap-highlight-color: transparent; */
	font-size: 12px;
	font-weight: 600;
	color: #ccc;
	padding-top: 10px;
}

.spotify-playlists>.description>p>a {
	display: inline-block;
	float: right;
	/* -webkit-tap-highlight-color: transparent; */
	font-size: 12px;
	font-weight: 600;
	color: #ccc;
	padding-top: 10px;
	text-decoration: none;
	/* Gạch chân cho liên kết */
	cursor: pointer;
}

.spotify-playlists>.description>p:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 1.4px;
	color: #dddddd;
}

.spotify-playlists .list {}


.spotify-playlists>.list>.row {
	display: inline-flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;

}



.spotify-playlists .list .item {
	min-width: 140px;
	border-radius: 6px;
	cursor: pointer;
	transition: all ease 0.4s;
	min-height: 222px;
	padding: 0 10px 0 10px;
}





.spotify-playlists .list .item img {
	border-radius: 6px;
	margin-bottom: 10px;
}

.artist-img {
	width: 100%;
	padding-top: 100%;
	/* Tạo chiều cao bằng với chiều rộng */
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 10px;

}

.artist-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.spotify-playlists .list .item .play {
	position: relative;
}

.spotify-playlists .list .item .play .fa {
	position: absolute;
	right: 10px;
	top: -60px;
	padding: 18px;
	background-color: #1db954;
	border-radius: 100%;
	opacity: 0;
	transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
	opacity: 1;
	transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
	color: #989898;
	font-size: 12px;
	line-height: 20px;
	font-weight: 600;
}

.spotify-playlists hr {
	margin: 70px 0px 0px;
	border-color: #636363;
}

.preview {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, #ae2896, #509bf5);
	padding: 15px 40px;
	display: flex;
	justify-content: space-between;
}

.preview h6 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 10px;
}

.preview p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.preview button {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
}


audio {
	width: 100%;
	height: 20px;
	/* background-color: #252525; */
}

audio::-webkit-media-controls-panel {
	background-color: #252525;
	padding: 0;
	margin: 0;
}

audio::-webkit-media-controls-timeline-progress-bar {
	background-color: #1db954;
}

audio::-webkit-media-controls-play-button {
	background-color: #1db954;
}

audio::-webkit-media-controls-current-time-display {
	display: none !important;
}

audio::-webkit-media-controls-time-remaining-display {
	display: none !important;
}

audio::-webkit-media-controls {
	width: 100% !important;
}

.hidden-audio-controls audio {
	display: none;
}

.container-genre a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.container-genre h1 {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	margin: 16px;
	font-size: 1.5rem;
	color: #fff;
	font-weight: 700;
	font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.container-genre {
	border: none;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: rgb(225, 51, 0);
	max-width: 200px;
	max-height: 200px;
}



.genre-img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;

}

.genre-img img {
	width: 55%;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(25deg) translate(18%, -2%);
	transform: rotate(25deg) translate(18%, -2%);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}