* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(to bottom,
			#d04232 0%,
			#672019 3%,
			#461515 6%,
			#200a0a 8%,
			#121212 16%,
			#121212 90%,
			#121212 100%);
	font-family: 'Montserrat', sans-serif;
	transition: background ease-in;
	/* Thêm hiệu ứng chuyển đổi màu mượt mà */
}

/* body.scroll-down {

	background: linear-gradient(to bottom, #EB4837 0%, #121212 7%, #121212 90%, #121212 100%);
} */


.main-container {
	margin-left: 245px;
	margin-bottom: 100px;
	overflow-y: auto;
	/* Cho phép cuộn theo chiều dọc */
	scrollbar-width: thin;
	/* Độ rộng của thanh cuộn */
	scrollbar-color: #282828 #1E1E1E;
	/* Màu sắc của thanh cuộn */
}

::-webkit-scrollbar {
	width: 14px;
	/* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	/* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
	background-color: #282828;
	/* Màu của phần đối xứng */
	border-radius: 2px;
	/* Độ cong của phần đối xứng */
}


.spotify-playlists {
	padding: 20px 40px;
}

.spotify-playlists .description {
	display: block;
}

.spotify-playlists h2 {
	color: #ffffff;
	font-size: 22px;
	margin-bottom: 20px;
	display: inline-block;
}

.spotify-playlists h2:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 2.2px;
}

.spotify-playlists>.description>p {
	display: inline-block;
	float: right;
	/* -webkit-tap-highlight-color: transparent; */
	font-size: 12px;
	font-weight: 600;
	color: #ccc;
	padding-top: 10px;
}

.spotify-playlists>.description>p>a {
	display: inline-block;
	float: right;
	/* -webkit-tap-highlight-color: transparent; */
	font-size: 12px;
	font-weight: 600;
	color: #ccc;
	padding-top: 10px;
	text-decoration: none;
	/* Gạch chân cho liên kết */
	cursor: pointer;
}

.spotify-playlists>.description>p:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 1.4px;
	color: #dddddd;
}

.spotify-playlists .list {
	display: flex;
	gap: 20px;
	overflow: hidden;
}

.spotify-playlists .list .row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	overflow: hidden;
	justify-content: space-between;

}


.spotify-playlists .list .item {
	min-width: 140px;
	width: 160px;
	padding: 15px;
	background-color: #181818;
	border-radius: 6px;
	cursor: pointer;
	transition: all ease 0.4s;
	min-height: 222px;
}

.spotify-playlists .list .item:hover {
	background-color: #252525;
}

.spotify-playlists .list .item img {
	width: 100%;
	border-radius: 6px;
	margin-bottom: 10px;
}

.artist-img {
	width: 100%;
	padding-top: 100%;
	/* Tạo chiều cao bằng với chiều rộng */
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 10px;

}

.artist-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.spotify-playlists .list .item .play {
	position: relative;
}

.spotify-playlists .list .item .play .fa {
	position: absolute;
	right: 10px;
	top: -60px;
	padding: 18px;
	background-color: #1db954;
	border-radius: 100%;
	opacity: 0;
	transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
	opacity: 1;
	transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
	color: #989898;
	font-size: 12px;
	line-height: 20px;
	font-weight: 600;
}

.spotify-playlists hr {
	margin: 70px 0px 0px;
	border-color: #636363;
}

.preview {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, #ae2896, #509bf5);
	padding: 15px 40px;
	display: flex;
	justify-content: space-between;
}

.preview h6 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 10px;
}

.preview p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.preview button {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
}

audio {
	width: 100%;
	height: 20px;
	/* background-color: #252525; */
}

audio::-webkit-media-controls-panel {
	background-color: #252525;
	padding: 0;
	margin: 0;
}

audio::-webkit-media-controls-timeline-progress-bar {
	background-color: #1db954;
}

audio::-webkit-media-controls-play-button {
	background-color: #1db954;
}

audio::-webkit-media-controls-current-time-display {
	display: none !important;
}

audio::-webkit-media-controls-time-remaining-display {
	display: none !important;
}

audio::-webkit-media-controls {
	width: 100% !important;
}


.hidden-audio-controls audio {
	display: none;
}